{% extends "foundation/base.html" %}

{% block base_body %}
<!doctype html>
  <html lang="en">
      <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>IFNTI</title>
  </head>
  <body>
      <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
        <div class="title-bar-title">Menu</div>
      </div>
      
      <div class="top-bar" id="responsive-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">PROJET NOTES</li>
            <li><a href="{% url 'notes:eleves' %}">Liste des étudiants</a></li>
            <li><a href="{% url 'notes:matieres' %}">Liste des matieres</a></li>
            <!-- <li><a href="#0">Liste des UEs</a></li> -->
            <li class="has-submenu">
              <a href="#0">Niveaux</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="{% url 'notes:pdf_niveau' 1 %}" target="_blank">L1</a></li>
                <li><a href="{% url 'notes:pdf_niveau' 2 %}" target="_blank">l2</a></li>
                <li><a href="{% url 'notes:pdf_niveau' 3 %}" target="_blank">L3</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <!-- <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li> -->
          </ul>
        </div>
      </div>
      <div class="p-8">
        {% block content %}{% endblock %}
      </div>
  </body>
</html>

{% endblock base_body %}